[Desktop Entry]
Encoding=UTF-8
Name=Link to GeoConvention 2018 Data Science Tools for Petroleum Exploration and Production
Type=Link
URL=https://geoconvention2018.updog.co/index.html
Icon=text-html
